@model WebAppLibros.Models.Libro

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCopias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadCopias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadPags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado.Condición)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idioma.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calificacion.NumCalificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            @*   mientras no tenga foto, no muestro nada *@
            @if (!string.IsNullOrEmpty(Model.Foto))
            {
                <img src="~/fotografias/@Model.Foto" class="rounded-circle" style="max-width:60px" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibrosAutores)
        </dt>
        <dd class="col-sm-10">
            @* recorre la lista de libro autor, accede a autor y muestra los valores *@
            @if (Model.LibrosAutores != null)
            {
                @foreach (var libroautor in Model.LibrosAutores)
                {
                    @(libroautor.Autor.Nombre + " " + libroautor.Autor.Apellido);
                    <br />
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibrosCategorias)
        </dt>
        <dd class="col-sm-10">
            @if (Model.LibrosCategorias != null)
            {
                @foreach (var librocategoria in Model.LibrosCategorias)
                {
                    @(librocategoria.Categoria.Tipo);
                    <br />
                }
            }
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLibro" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
