@model WebAppLibros.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCopias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCopias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalificacionPromedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalificacionPromedio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.IdEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idioma.IdIdioma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLibro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
