@model IEnumerable<WebAppLibros.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>STOCK DE LIBROS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCopias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalificacionPromedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idioma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibrosAutores)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadCopias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadPags)
                </td>
                <td>
                    @item.CalificacionPromedio.ToString("0.0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Condición)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idioma.Tipo)
                </td>
                <td>
                    @* Recorremos modelo libroautor y mostramos el nombre en rel muchos a muchos *@
                    @foreach (var libroAutor in item.LibrosAutores)
                    {
                        <p>-
                        @(libroAutor.Autor.Nombre + " " + libroAutor.Autor.Apellido)
                        </p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdLibro">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdLibro">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdLibro">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
